---
import Layout from "../layouts/Layout.astro";
const currentYear = new Date().getFullYear();
---

<Layout title="United Cleaning">
  <header>
    <img
      src="/logos/logo.png"
      alt="United Cleaning logo with a pressure washer on the right spraying at a blue circle on the left with the text 'United Cleaning Corp' spread across"
      width="300"
    />
    <!-- <audio controls src="/audio/adigha.mp3">
      <a href="/audio/adigha.mp3">Download audio</a>
    </audio> -->
  </header>
  <main>
    <section>
      <h1>United Cleaning</h1>
      <em>
        Specializing in kitchen exhaust systems & equipment pressure washing
        since 1992
      </em>
      <p>
        <a href="tel:9739424825">Contact us</a>
      </p>
    </section>
    <section>
      <h3>About us</h3>
      <p>
        With over <strong>30 years in business</strong> serving Northern &
        Central New Jersey, we have built a reputation of quality and service
        unsurpassed in the hood cleaning industry. We provide 24 hour emergency
        services and free estimates - our work is guaranteed and your
        satisfaction is our main concern and goal.
      </p>
      <p>
        As well, we provide pressure washing, steam cleaning and chemical
        treatment for all commercial and industrial hoods. Customers include
        restaurants, schools, hospitals, country clubs, and malls.
      </p>
    </section>
    <section>
      <h3>Services</h3>
      <ul>
        <li>Filter Cleaning</li>
        <li>Dry Vent Cleaning</li>
        <li>Floor Chemical Treatment</li>
        <li>Access Panel Installation</li>
        <li>Motor Service and Repair</li>
      </ul>
    </section>
    <section>
      <h3>Contact us</h3>
      <p>
        Give us a call at <a href="tel:9739424825">(973) 942-4825</a> or send us
        an email at <a href="mailto:unitedcorp@optonline.net"
          >unitedcorp [at] optonline [dot] net</a
        >!
      </p>
    </section>
  </main>
  <footer>
    <span>
      &copy; {currentYear} United Cleaning Corp.
    </span>
    <div>
      <img src="/logos/bbb-logo.png" alt="" width="150" height="60" />
      <img src="/logos/njbia-logo.png" alt="" width="140" height="140" />
    </div>
  </footer>
</Layout>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: transparent;
    font-size: 1.2em;
    border: none;
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
  }
  footer > div {
    display: flex;
    align-items: center;
  }
</style>
