---
import Header from "../components/Header/index.svelte";
import Body from "../components/Body/index";
import Footer from "../components/Footer/index";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/styles/globals.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | United Cleaning Corp.</title>
  </head>
  <body>
    <Header />
    <Body><slot /></Body>
    <Footer client:visible />
  </body>
</html>
